.sign-in{
    width:100%;
    top: 500px;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

button{
    background-color: rgb(242, 212, 60);
    color: black;
    border: 2px solid rgb(242, 212, 60);
}